---
layout: default
title: Welcome to derjoachim.nl
---
<div itemscope itemtype="http://schema.org/CreativeWork/WebSite" class="container">
	<div class="frontpage">
		<span itemprop="description" style="display:none">{{ site.description }}</span>
		<h1 class="frontpage-header" itemprop="headline">{{ site.title }}</h1>
		<h2 class="frontpage-subheader"itemprop="alternativeHeadline">{{ site.subtitle }}</h2>
	</div>
	{% for post in paginator.posts %}
	<div class="blog-preview">
		<article itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
			{% if post.image %}
			<div class="blog-preview-img">
				<img class="blog-image" itemprop="image" alt="{{ post.title }}" src="{{ post.image }}" />
			</div>
			<div class="blog-preview-twothirds">
			{% else %}
			<div class="blog-preview-fullwidth">
			{% endif %}
				<header>
					<h1 itemprop="headline">
						<a class="blog-title" href="{{ post.url }}">{{ post.title }}</a>
					</h1>
					{% if post.subtitle %}
					<h2 class="blog-subtitle">{{ post.subtitle }}</h2>
					{% endif %}
			
					<h3 class="dateauthor">
						<span itemprop="datePublished">{{ post.date | date: "%d %B %Y" }}</span>{% if post.author %} by <span itemscope itemtype="http://schema.org/Person"><span itemprop="author">{{ post.author }}</span></span>{% endif %}
					</h3>
				</header>
				<section>
					{% if post.excerpt %}
					{{ post.excerpt }}
					{% else %}
					{{ post.content | split:"<!--more-->" | first }}
					{% endif %}
					<p>
						<a class="blog_readmore" itemprop="url" href="{{ post.url }}">Read more &raquo;</a>
					</p>
				</section>
			</div>
		</article>
	</div>
{% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="paginator col6 shift3">
	<ul>
	{% if paginator.previous_page %}
		<li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//','/' }}">&laquo;</a></li>
	{% else %}
		<li><span class="page-prev">&laquo;</span></li>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
		{% if paginator.page == page %}
			<li><span class="page-current">{{ page }}</span></li>
		{% elsif page == 1 %}
			<li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//','/' }}">{{ page }}</a></li>
		{% else %}
			<li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
		{% endif %}
	{% endfor %}
	
	{% if paginator.next_page %}
		<li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//','/' }}">&raquo;</a></li>
	{% else %}
		<li><span class="page-next">&raquo;</span></li>
	{% endif %}
	</ul>
</div>
{% endif %}
