<footer class="site-footer">
	<div class="footer-container">
		<div class="footer-left">
			<ul>
				{% for item in site.data.pages.socialmedia %}
				<li><a href="{{ item.url }}" target="_blank"><span class="icon-{{ item.name }}"></span></a></li>
				{% endfor %}
			</ul>
			<ul class="nav-bottom">
            {% for item in site.data.pages.bottom %}
            {% assign current = nil %}
            {% if page.url contains item.url %}{% assign current = ' active' %}{% endif %}
            <li class="nav-bottom-item{{ current }}" role="menuitem">
                <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
            {% endfor %}		
			</ul>
		</div>
		<div class="footer-right">
			&copy; Joachim van de Haterd, 2011-2015
			<a href="#top"><span class="icon-circle-up"></span></a>
		</div>
	</div>
</footer>
