<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
		<ul role="navigation">
            {% for item in site.data.pages.header %}
            {% assign current = nil %}
            {% if page.url contains item.url %}{% assign current = ' active' %}{% endif %}
            <li class="navbar_item{{ current }}" role="menuitem">
                <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
            {% endfor %}		
		</ul>
    </nav>
  </div>
</header>
