/**
 * Mixins
 */
@mixin social-icon($content,$color) {
	&:before {
    	content: $content;
	}
	&:hover:before {
		@include transition (all 0.2s ease-in-out);
		color: $color;
	}
}


/**
 * Pagination
 **/
.paginator {
	$base-border-radius: 3px !default;
	$base-spacing: 1.5em !default;
	$base-link-color: $link-color !default;
	$dark-gray: #333 !default;
	$large-screen: em(860) !default;
	$base-font-color: $dark-gray !default;

	@include media($mobile) {
		@include span-columns(4);
	}
	@include media($tablet) {
		@include span-columns(8);
	}
	@include media(min-width $desktop-size) {
		@include span-columns(6);
		@include shift(3);
	}
  
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
	}
  
	$pagination-border: 1px solid $secondary-background-border-color;
	$pagination-background:$secondary-background-color;
	$pagination-hover-background: lighten($pagination-background, 5);
	$pagination-color: $link-color;

	text-align: center;

	ul {
		display: inline;
		text-align: center;

		li {
  	  	  display: inline;
		}

		ul li {
			display: none;
  
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				display: inline;
			}

			@include media($large-screen) {
				display: inline;
			}
		}

		li a {
			@include transition (all 0.2s ease-in-out);
			background: $pagination-background;
			border-radius: $base-border-radius;
			border: $pagination-border;
			color: $pagination-color;
			outline: none;
			padding: ($base-spacing / 4) ($gutter / 2);

			&:hover,
			&:focus {
				background: $pagination-hover-background;
				color: darken($link-color,10);
			}

			&:active {
				background: $pagination-background;
			}
		}

		span.page-current {
			background: $background-color;
			border-radius: $base-border-radius;
			border: $pagination-border;
			outline: none;
			padding: ($base-spacing / 4) ($gutter / 2);
		}
	}
}

/**
 * Frontpage
 */
div.bottom-margin {
	margin-bottom: (1.5 * $gutter);
}

.frontpage {
	@include span-columns(12);
	@include omega();
	margin-top: 2px;

	border-bottom: 1px solid #f3f3f3;
	@include media(min-width $tablet-size) {
		background: url('../assets/images/template/header-image.jpg') no-repeat right 0;
		min-height: 213px;
	}
}

h1.frontpage-header {
	@include media(min-width $tablet-size) {
		font-size: 5em;
		font-spacing: -2px;
		margin-left: 1em;
	}
	@include media(max-width $tablet-size) {
		font-size: 3em;
		font-spacing: -1px;
	}
	color: $brand-primary;
}
h2.frontpage-subheader {
	font-size: 1.2em;
	font-style: italic;
	color: $brand-primary;
	margin-left: 1em;
}

/**
 * Blog layout
 */
.blog-preview {
	@include span-columns(12);
	@include omega();

	.blog-preview-img {
		@include span-columns(4 of 12);
		text-align: center;
		font-size: 0;
	}
	img.blog-image {
		max-width: 100%;
		max-height: 100%;
		border-radius: 0.5em;
		margin: 0.5em;
		vertical-align: middle;
	}

	.blog-preview-twothirds {
		@include span-columns(8 of 12);
	}
	.blog-preview-fullwidth {
		@include span-columns(12);
	}
	
	article {
		margin: 1em 0;
	}
	h1 {
		@include media(max-width $tablet-size) {
			font-size: 1.35em;
		}
	}

}


h3.dateauthor {
	@include media(max-width $tablet-size) {
		font-size: 1em;
	}
	@include media(min-width $tablet-size) {
		font-size: 1.25em;
	}
	color: $headings-small-color;
}

/**
 * Post layout
 */
.post-article { 
	@include media(min-width $tablet-size) {
		@include span-columns(9);
	}
	@include media ($tablet) {
		@include span-columns(6);
	}
	@include media (max-width $tablet-size) {
		@include span-columns(12);
		h1 {
			font-size: 1.35em;
		}
		h2 {
			font-size: 1.25em;
		}
		h3 {
			font-size: 1.15em;
		}
	}
	margin-bottom: 1em;
}

.post-header {
	margin: 1em 0;
}
.post-aside { 
	@include media(min-width $tablet-size) {
		@include span-columns(3);
	}
	@include media($mobile) {
		@include span-columns(4);
	}
}

.post-title {
	@include media(max-width $tablet-size) {
		font-size: 1.35em;
	}
}
.post-image {
	max-width: 100%;
	border-radius: 0.5em;
}

/**
 * Header
 */
header.site-header {

	.site-title {
		display: none;
	}
	nav.site-nav {
		text-align: right;
		margin: 1em 0;
		ul {
			margin: 0 1em;
			padding: 0;
			display: inline;
			text-align: center;
		}
		li {
			list-style: none;
			display: inline;
			margin-right: 1em;
			&:first {
				margin: 0;
			}

			a:hover {
				text-decoration: underline;
			}
			&.reallyactive a{
				color: red;
			}
			&.active a{
				color: $brand-primary;
			}
		}
	}
}

/**
 * Footer
 */
footer.site-footer {
	border-top: 1px solid $secondary-background-border-color;
	border-bottom: 2px solid $brand-primary;
	background: $secondary-background-color;
	div.footer-container {
		@include outer-container;
	}
	
	ul {
		margin: 0;
		padding: 0;
		display: inline;
		text-align: center;
	}
	li {
		list-style: none;
		display: inline;
		padding-left: 0.5em;
		&:first-child {
			padding-left: 0;
		}
	}
}
.footer-left {
	@include media(min-width $desktop-size) {
		@include span-columns(6);
	}
	@include media($tablet) {
		@include span-columns(4);
	}
	@include media($mobile) {
		@include span-columns(2);
	}
	text-align: left;
	margin: 1em 0;

	ul.nav-bottom {
		margin-left: 1em;
		a:hover {
			text-decoration: underline;
		}
		li.nav-bottom-item {
			&.active a{
				color: $brand-primary;
			}
		}
	}
}

.footer-right{
	@include media(min-width $desktop-size) {
		@include span-columns(6);
	}
	@include media($tablet) {
		@include span-columns(4);
	}
	@include media($mobile) {
		@include span-columns(2);
	}
	@include omega;
	display: inline-block;
    vertical-align: middle;
	line-height: 1.5em;
	text-align: right;
	margin: 0.75em 0;
}

/**
 * Bulleted lists
 */

ol.numbered {
	padding-left: 2em;
	margin-bottom: 1em
	li {
		list-style: georgian;
	}
}

ul.bullets {
	padding-left: 2em;
	margin-bottom: 1em;
	li {
		list-style: disc;
	}
}

/**
 * Stack
 **/
.stack-container {
	@include outer-container;
	
	li.stack-block {
		@include span-columns(3);
		@include omega(4n);
		border: 1px solid $brand-primary;
		border-radius: 0.5em;
		overflow: hidden;
		margin-bottom: 1em;
		h5 {
			text-align: center;
			background-color: $secondary-background-color;
			border-bottom: 1px solid $secondary-background-border-color;
		}
		.stack-img-container {
			text-align: center;
			margin: 1em;
			img {
				max-height: 4em;
				min-height: 4em;
				height: 4em;
			}
		}
		p {
			margin: 0 1em 1em;
		}

	}
}

/* TODO */

/**
 * Icomoon icons
 */
@font-face {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/icomoon.eot');
	src: url('../assets/fonts/icomoon.eot?') format('eot'),
		url('../assets/fonts/icomoon.woff') format('woff'),
		url('../assets/fonts/icomoon.ttf') format('truetype');
}

.icon-linkedin:before,
.icon-twitter:before,
.icon-github:before,
.icon-stumbleupon:before,
.icon-lastfm:before,
.icon-feed:before,
.icon-circle-up:before {
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	position: relative;
    color: $link-color;
} 

.icon-linkedin {
	@include social-icon("\eac9",$linkedin);
}
.icon-twitter {
	@include social-icon("\ea91",$twitter);
}
.icon-github {
	@include social-icon("\eab4",$github);
}
.icon-stumbleupon {
	@include social-icon("\eace",$stumbleupon);
}
.icon-lastfm {
	@include social-icon("\eaca",$lastfm);
}
.icon-feed {
	@include social-icon("\ea94",$brand-primary);
}
.icon-circle-up {
	@include media(min-width $tablet-size) {
		font-size: 1.5em;
	}
	margin-left: 1em;
	@include social-icon("\ea41",$brand-primary);
}
