<IfModule mod_deflate.c>
    <IfModule mod_mime.c>
        Addtype application/font-sfnt .otf
        Addtype application/vnd.ms-fontobject .eot
        Addtype application/font-sfnt .ttf
        AddType image/svg+xml .svg
        AddType application/font-woff .woff
    </IfModule>

    # these are known to be safe with MSIE 6
    AddOutputFilterByType DEFLATE text/html text/plain text/xml

    # everything else may cause problems with MSIE 6
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/x-javascript application/javascript application/ecmascript
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf application/font-sfnt application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE font/truetype font/opentype font/eot
</IfModule>

<IfModule pagespeed_module>
    ModPagespeed on
    ModPagespeedEnableFilters collapse_whitespace,defer_javascript
    ModPagespeedSupportNoScriptEnabled false
</IfModule>
<IfModule mod_expires.c>
     ExpiresActive on
     ExpiresByType image/jpg "access plus 60 days"
     ExpiresByType image/png "access plus 60 days"
     ExpiresByType image/gif "access plus 60 days"
     ExpiresByType image/jpeg "access plus 60 days"
     ExpiresByType image/svg+xml "access plus 60 days"

     ExpiresByType image/x-icon "access plus 1 year"

     ExpiresByType application/pdf "access plus 1 month"

     ExpiresByType text/javascript "access plus 1 month"
     ExpiresByType application/x-javascript "access plus 1 month"
     ExpiresByType application/javascript "access plus 1 month"

     ExpiresByType application/x-font-woff "access plus 1 year"
     ExpiresByType application/font-woff "access plus 1 year"
     ExpiresByType font/eot "access plus 1 year"
     ExpiresByType font/truetype "access plus 1 year"
     ExpiresByType application/octet-stream "access plus 1 year"
     ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
     ExpiresByType application/font-sfnt "access plus 1 year"

     ExpiresByType text/css "access plus 30 days"
 </IfModule>
